* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 70%;
    max-width: 920px;
    padding: 30px 30px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

h1 {
    margin: 0
}

article {
    width: 70%;
    max-width: 920px;
    min-height: 500px;
    padding: 20px 30px;
    margin: 0 auto;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

footer {
    width: 70%;
    max-width: 920px;
    padding: 20px 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
}
.casas {
    width: 100%;
}
img {
    z-index: 9999999;
    width: 100%;
}